#main {
    padding: 1em 1em 1em 1em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Tabs styling */

.tab {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab .nav-tabs{
    border: none;
    margin-bottom: 20px;
}
.tab .nav-tabs li a{
    padding: 10px 20px;
    margin-right: 5px;
    background: #cb5245;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #cb5245;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.4s ease-in 0s;
}
.tab .nav-tabs li a:hover{
    color: #cb5245;
    background: #fff;
    border: 2px solid #cb5245;
}
.tab .nav-tabs li.active a{
    color: #092c4f;
    border: 2px solid #092c4f;
}
.tab .nav-tabs li a:before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    left: -50%;
    opacity: 0.3;
    z-index: -1;
    transform: scale(0);
    transition: all 0.4s ease-in 0.1s;
}
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before{
    opacity: 1;
    transform: scale(2);
}

@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .tab .nav-tabs li a:hover:before,
    .tab .nav-tabs li.active a:before{
        transform: scale(10);
    }
}

/* About page */

.about-page {
  all: unset;
}

.bike-pic {
  height: 400px;
  width: 500px;
}

/* Footer styling */
.headshot {
  margin-left: 46%;
  width: 50px;
  height: 50px;
}

footer {
  padding-top: 5%;
  bottom: 1%;
  justify-content: center;
}

.footerbuttons {
  left: 35%;
  font-size: 32px;
}

/* Modal Styling */

.modaldesc {
  background: rgba(0, 0, 0, 0.5);
}

/* Carousel Styling */
